@media only screen and (min-width: 992px) {

    .navigation {
        width: 100%;
    }

}
@media only screen and (max-width: 600px) {
    /* .block-item {
        float:none;
        width:85%;
        margin: 1em auto;

    } */
    .prices-table {
        width:35%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 2px solid green;*/

}

body {

    max-width: 100vw;
    min-height: 100vh;
}

section {
    width: 100%;
    margin: 0 auto;

}

header {
    background-color: black;
    color: white;
}
main {
    font-family: 'Open Sans',Arial, sans-serif;
}
.reg{
    display: flex;
    justify-content: flex-end;
    padding-right:100px;

}
nav {
    background-color: black;
    padding: 20px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    max-width: 1366px;


}
.navigation {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
footer{
    background-color: black;
    color: white;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

a {
    color: rgb(157,157,157);
    transition: .3s;
    text-decoration: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

a:hover,
a:active,
a:focus {
    color: #EF233C;
    outline: none;
    text-decoration: none;
}
.link-active {
    color: #EF233C;
}

/* sec-1-about section start */


.sec-1 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.sec1Text {
    width: 30rem;
    /* border: 3px solid rgb(1, 206, 104); */
    margin: 5% 3%;
}
.sec1Photo {
    background: url("images/Stepan-photo-01.jpg") center no-repeat;
    background-size:contain;
    height:30rem;
    width: 30rem;
    margin: 5% 3%;
    /* border: 3px solid rgb(12, 100, 224); */
  
}

.sec1-contacts {
    margin: 30px 0px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(157,157,157);
}

.sec1-photo {
    background: url("images/Stepan-photo-01.jpg") center no-repeat;
    background-size:contain;
    /*background-size: cover;*/
    width: 100%;
    height: auto;
    min-height:600px;
    
}



/* sec-1-about section end */



/* sec-2 Portfolio section start */
.sec-2 {
    background-color: black;
    color:white;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
/* .container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;

} */

.btn {
    /* display: inline-block; */
    /*background-color: var(--color-primary);*/
    background-color: black;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 0.5rem;
}




/* OPERATIONS */
.operations {
    max-width: 120rem;
    margin: 0 auto;
    /*background-color: #fff;*/
  
}

.operations__tab-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.operations__tab {
    margin-right: 2.5rem;
    color:white;
    border: 1px solid #EF233C;
    /*transform: translateY(-50%);*/
}


.operations__tab--active {
    /*transform: translateY(-66%);*/
    background-color: #EF233C;
    color:white;
}

.operations__content {
    display: none;
  
}
.sec2-grid * {
   
    height: 300px;
}
.sec2-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,500px));
    gap: 20px;
    justify-content: center;
   
}


/* .sec2-grid > div:nth-child(3) {
 
    grid-column:1/-1;
    grid-row:2;
   
   
}  */


.operations__content--active {
    display: grid;
  

}


.portrait-1{
    background: url("images/portraits/portrait-1.jpg") center no-repeat;
    background-size:contain;

}
.portrait-2{
    background: url("images/portraits/portrait-2.jpg") center no-repeat;
    background-size:contain;
  
}
.portrait-3{
    background: url("images/portraits/portrait-3.jpg") center no-repeat;
    background-size:contain;
    
}
.portrait-4{
    background: url("images/portraits/portrait-4.jpg") center no-repeat;
    background-size:contain;
    
}
.reportage-1{
    background: url("images/reportage/reportage-1.jpg") center no-repeat;
    background-size:contain;

}
.reportage-2{
    background: url("images/reportage/reportage-2.jpg") center no-repeat;
    background-size:contain;
}
.reportage-3{
    background: url("images/reportage/reportage-3.jpg") center no-repeat;
    background-size:contain;
}
.reportage-4{
    background: url("images/reportage/reportage-4.jpg") center no-repeat;
    background-size:contain;
}
.peysage-1 {
    background: url("images/paysage/1670185255_1_115296_paysage-5.jpg") center no-repeat;
    background-size:contain;
}
.peysage-2 {
    background: url("images/paysage/1670185263_1_283458_paysage-8.jpg") center no-repeat;
    background-size:contain;
}
.peysage-3 {
    background: url("images/paysage/1670185381_1_216949_paysage-16.jpg") center no-repeat;
    background-size: contain;
}
.peysage-4 {
    background: url("images/paysage/peysage-10.jpg") center no-repeat;
    background-size: contain;
}
.interior-1 {
    background: url("images/interior/interior-12.jpg") center no-repeat;
    background-size:contain;
}
.interior-2 {
    background: url("images/interior/interior-3.jpg") center no-repeat;
    background-size:contain;
}
.interior-3 {
    background: url("images/interior/interior-18.jpg") center no-repeat;
    background-size: contain;
}
.interior-4 {
    background: url("images/interior/interior-13.jpg") center no-repeat;
    background-size: contain;
}

.gallery-link {

    text-align: center;
    margin: 10px auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery-a {
    color: #ea7a55;
    font-size: larger;

}
/* sec-2 Portfolio section end */


/* sec-3 section start */

.sec-3 {
    background-color: white;
    color: black;
    width: 100%;
}


.sec3-text {
 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 30%;
    font-family: 'Open Sans',Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 350;
    text-align: center;
    box-sizing: content-box;
}

/* sec-3 section end */

/* sec-4 section start */

.sec-4 {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0 auto;
}
.prices {
    /* height:100px; */
    /* margin: 0 auto;
    display: inline-block;
    justify-content: center;
    align-items: center;*/
    padding: 2rem 20%; 
    font-family: 'Open Sans',Arial, sans-serif;
    text-align: center;
}
.prices-table {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',Arial, sans-serif;
    padding: 2rem 2rem;
    max-width: 60%;
    margin: 0 auto;
}
th {
    font-weight: bold;
    padding: 1rem;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
tr {
    border: 1px solid rgb(157,157,157);
    border-left: none;
    border-right: none;
    padding: 1rem;

}
td {
    border: none;
    padding: 0.5rem;
    width: 25%;

}
.prices-btn {
    border: 2px solid red;
    border-radius: 20px;
    background-color: #fa3737;
    color: white;
    height: 45px;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 30px;

}
.prices-table
a {
    color: white;
    outline: none;
    text-decoration: none;
}
.prices-table a:visited {
    color: white;
}

/* sec-4 section end */

/* sec-5 section start */
.sec-5 {
    background-color: white;
    color: black;
    width: 100%;

}

.sec-5-block {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
    gap: 1rem;
    /*padding: 50px 0px;*/
    margin: 50px 0;

   

}
.review-item {

    /*padding-left:20px;*/
    font-family: 'Open Sans',Arial, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    padding-top: 20px;

}

.review-item-title {
    font-weight: bold;
    margin: 20px;
    /*padding-top: 100px;*/
    text-align: center;
}
.review-item-text {
    font-size: small;
    text-align: center;
    padding: 15px;
}
.item-1 {
    background: url("images/reviews/person01.jpg") center no-repeat;
    background-size:contain;
    height: 300px;

}
.item-2 {
    background: url("images/reviews/person02.jpg") center no-repeat;
    background-size:contain;
    height: 300px;

}
.item-3 {
    background: url("images/reviews/person03.jpg") center no-repeat;
    background-size:contain;
    height: 300px;

}
.item-4 {
    background: url("images/reviews/person04.jpg") center no-repeat;
    background-size:contain;
    height: 300px;

}
.review-item-shadow {
    background-color: black;
    color: #EF233C;
}

/* sec-5 section end */
.sec-6 {
    background-color: white;
    width: 100%;
}

/* sec-7 Blog section start */
.sec-7 {
    background-color: black;
    width: 100%;
    color:white;}
.sec-7-header {
    padding: 3rem 3rem;
    text-align: center;
    
}
.sec-7-header h2 {
    padding-bottom: 30px;
}
.article{
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}
.article_item{
    /* margin-bottom: 50px; */
    padding: 30px;
    border-radius: 10px;
}
.blog_article h1 {
    text-align: center;
}
.article_images {
    width: 100px;
    border-radius: 8px;
}
.article_item span{
    margin-right: 20px;
}
.article_preview{
    display: flex;
    padding: 20px 0;
    gap: 20px;
    flex-wrap: wrap;
}
.article_preview p{
    font-size: 20px;
}
.article_block{
    max-width: 1200px;
    margin: auto;
    padding: 20px 50px;
    display: flex;
    gap: 20px;
}
.blog_article{
    width: 70%;
}

.blog_article .full_text{
    font-size: 20px;
}
.blog_article img{
    width: 100%;
}
.blog-link {
    text-align: center;
    margin: 10px auto;
    padding-bottom: 50px;
}

.blog-link a {
    color: #ea7a55;
    font-size: larger;
    transition: .3s;

}
.blog-link a:hover,
a:active,
a:focus {
    color: #EF233C;
    outline: none;
    text-decoration: none;
}
/* sec-7 Blog section end */

/* sec-8 section start */
.sec-8 {
    background-color: white;
    width: 100%;
}
.sec8-text a {
    color:black;
}
.sec-8 a:hover {
    color: #EF233C;
}
.sec8-text {
 
    margin: 0 auto;
    padding: 10% 20%;
    font-family: 'Open Sans',Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 350;
    text-align: center;
    box-sizing: content-box;
       
}
.icons-block {
    padding: 1rem 0.5rem;
}
.icons {
    height: 50px;
}
/* sec-8 section end */

/* Страница Портфолио*/
.img_box {
    width: 300px;
    background: black;
}

.img-item {
    border: 4px solid darkgrey;


}
.photo-items {
    background: black;
    color: white;
    padding: 50px 300px;
}
.item-header {
    padding: 20px;
    font-size: 20px;
}

/* Страница Портфолио section end */