.myGrid * {
    background-color: aqua;
    border:2px solid darkblue;
    text-align: center;
    padding: 10px 15px;
    font-size: 22px;
    font-family: sans-serif;
    color: rgb(5, 59, 116);
    height: 300px;
}

.myGrid {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,500px));

    gap: 20px;
  
}

/* .myGrid > div:nth-child(1) {
 
    grid-column:1/-1;
    grid-row:3;
   
}

.myGrid > div:nth-child(2) {
    grid-column:2/4;
    grid-row:1;
 
}
*/
.myGrid > div:nth-child(3) {
    grid-column:1/-1;
    grid-row:2;
} 

.prices {
    /* height:100px; */
    /* margin: 0 auto;
    display: inline-block;
    justify-content: center;
    align-items: center;*/
    padding: 2rem 20%; 
    font-family: 'Open Sans',Arial, sans-serif;
    text-align: center;
}
.prices-table {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',Arial, sans-serif;
    padding: 2rem 2rem;
    max-width: 60%;
    margin: 0 auto;
}
th {
    font-weight: bold;
    padding: 1rem;
    text-align: left;
    width: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
    /* table-layout: auto; */
}
tr {
    border: 1px solid rgb(157,157,157);
    border-left: none;
    border-right: none;
    padding: 1rem;

}
td {
    border: none;
    padding: 0.5rem;
    width: 50px;

}